
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:"poppins";
    background-color:#c0d4ee;
    line-height: 1.8;

}
a{
text-decoration:none;
}
#container{
    max-width: 430px;
    margin: 30px auto;
    padding:20px
}

.form-area{
    background-color:#ffff;
    padding:20px 20px;
    color:#333;
    border-top: 10px solid cornflowerblue;
    border-radius: 10px;
}

.form-area h1,
.form-area p{
    text-align: center;
}

.form-area .form-data{
margin-top: 15px;
}

.form-area .form-group label{
    display:block;
    color:#666;
}
.form-area .form-group input{
    width: 100%;
    padding: 10px ;
    border:rgb(180, 191, 191) 1px solid;
    border-radius: 5px;

}
.form-area button{
    display:block;
    width:100%;
    margin-top: 20px;
    padding:10px;
    border:1px solid cornflowerblue;
    background-color: cornflowerblue;
    font-family:poppins;
    cursor:pointer;
    transition:1s
}


/* .form-area button:hover{
    background-color: cornflowerblue ;
    transition-duration: 1s;
} */




footer{
    text-align: center;
    margin-top: 10px;
}

